setuptools>=78.1.1,<81
packaging
albumentations
opencv-python
numpy
extcolors
pylette>=6.0.0
torch
torchvision
pytorch-lightning
torchmetrics
omegaconf
einops
torch-fidelity
transformers
webdataset
gradio
protobuf
wandb
kornia
sentence-transformers
taming-transformers-rom1504
openai-clip
matplotlib
rich
tqdm
